<body class="mat-app-background">
  <div style="padding: 50px 10px 0px">
    <h1 class="mat-display-3" style="text-align:center">SpaceX Mission Launch List</h1>
  </div>
  <div class="mat-app-background">
    <div *ngFor="let mission of missions" style="padding: 10px 20px">
      <mat-card style="padding: 25px" class="example-ripple-container mat-elevation-z4"
      matRipple routerLink="mission-details/{{ mission.flight_number }}">
        <img style="float: left; padding-right: 25px;" mat-card-sm-image src="{{ mission.links.mission_patch_small }}" />
        <mat-card-title>{{ mission.mission_name }}</mat-card-title>
        <mat-card-subtitle>{{ mission.launch_year }}</mat-card-subtitle>
        <mat-card-content>{{ mission.details }}</mat-card-content>
        <mat-card-footer>
          <mat-progress-bar mode="buffer"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</body>
